
/*---------------------------------------import Area----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');



/*-----------------------------------------font and size and section control Area--------------------------------------*/

*{margin: 0px;padding: 0px;}


body{
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}


section{
    padding: 80px 0px;
}


/*-------------------------------------------------Header Area--------------------------------*/

.container {
    width: 1098px;
    margin-right: 20px;
    margin-left: 20px;
    margin: auto;
}


.logo {
    width: 83px;
    height: 83px;
    float: left;
}

.menu {
    float: left;
    width: 1006px;
}

ul.menuwraper {
    float: right;
    list-style: none;
    padding: 37px;
}


ul.menuwraper li {
    position: inherit;
    /* float: left; */
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0px 2px;
}

li#active a {
    color: #ffffff;
    background: #0ed1f0;
    border-radius: 18px;
}

ul.menuwraper li a:hover {
    color: #ffffff;
    background: #0ed1f0;
    border-radius: 18px;
    transition: all 0.3s ease-in;
}



ul.menuwraper li a {
    display: block;
    padding: 11px 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    font-family: 'Work Sans';
    transition: all 0.3s ease-in;

}


ul.menuwraper li:first-child {
    margin-left: 0px;
}

ul.menuwraper li:last-child a {
    padding-right: 0px;
    background: transparent;
}



.logo img {
    padding: 33px 0px;
    max-width: 199%;
    height: auto;
}

li.searchbtn i {
    font-size: 26px;
    transition: 0,3s;
}


ul.menuwraper li:last-child a:hover {
    color: #0ed1f0;
}



#slidehome {
    background: url(banner2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0px;
    background-size: 100% 100%;
    padding-bottom: 50px;
    min-height: 874px;
}


.slidecontent {
    color: white;
    width: 1090px;
    margin: auto;
    display: inline-block;
    margin-top: 137px;
    text-align: center;
    overflow: hidden;
}


.slidecontent span {
    font-size: 75px;
    color: #0ed1f0;
    line-height: 100px;
    text-transform: uppercase;
    font-weight: 500;
}


.slidecontent h1 {
    font-size: 90px;
    font-weight: 800;
    color: #fff;
    padding-top: 4px;
    padding-bottom: 36px;
    line-height: 85px;
    letter-spacing: 2px;
    text-align: center;
    word-spacing: 2px;
}


.slidecontent p {
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 24px;
}


button#musicbtn {
    padding: 16px 0px;
    border-radius: 30px;
    margin-top: 36px;
    border: none;
    margin-right: 6px;
    /* margin-bottom: 89px; */
    transition: 0.3s;
    cursor: pointer;
}

button#buybtn {
    padding: 16px 0px;
    border-radius: 30px;
    margin-top: 36px;
    border: none;
    margin-left: 0px;
    transition: 0.3s;
    cursor: pointer;
}


button#musicbtn a {
    font-size: 19px;
    text-decoration: none;
    padding: 20px 30px;
    color: #020202;
    font-weight: 400;
    transition: 0.5s;
}

button#buybtn a {
    font-size: 19px;
    text-decoration: none;
    color: #020202;
    padding: 20px 66px;
    font-weight: 400;
    transition: 0.5s;
}


button#musicbtn:hover a {
    color: #fff;
}

button#buybtn:hover a {
    color: #fff;
}

button#musicbtn:hover {
    background: #0ed1f0;
}

button#buybtn:hover {
    background: #0ed1f0;
}

.circlebtn {
    width: 190px;
    margin: auto;
    padding: 40px 0px;
    place-items: center;
    margin-left: 481px;
}

.circlebtn span {
    display: flex;
    width: 70px;
    height: 70px;
    background: transparent;
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;
    float: left;
    margin-right: 22px;
    margin-top: 160px;
    box-shadow: 0px -1px 5px 2px #00000047;
}

.circlebtn span:first-child {
    background: #e6e6f1;
    outline: none;
    border: none;
}

.circlebtn span:last-child {
    background: #e6e6f1;
    outline: none;
    border: none;
}


.circlebtn span:first-child i {
    color: #0ed1f0;
    margin: auto;
    font-size: 22px;
}

.circlebtn span:last-child i {
    color: #0ed1f0;
    margin: auto;
    font-size:22px;
}


i.fa.fa-long-arrow-left:hover {
    transform: scale(1.5);
}

i.fa.fa-long-arrow-left {
    transition: 0.3s;
}


i.fa.fa-long-arrow-right:hover {
    transform: scale(1.5);
}

i.fa.fa-long-arrow-right {
    transition: 0.3s;
}


/*----------------------------------------About Area------------------------------------*/

section#iamgeabout {
    background: url(about_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 110px 0px;
    margin-top: 90px;
}


.aboutwrapper {
    overflow: hidden;
    width: 534px;
    float: left;
    text-align: left;
}

.containerwrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}



.imagewrapper {
    padding-left: 0px;
}


.imagewrapper img {
    width: 98%;
    height: 98%;
    margin: auto;
    max-width: 100%;
    vertical-align: middle;
    margin-right: -47px;
    display: block;
}

.imagewrapper:hover img {
    transform: scale(0.95);
}

.imagewrapper img {
    transition: 0.3s;
}


.aboutwrapper h1 {
    padding: 0px;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 3px;
    /* text-transform: uppercase; */
    margin-bottom: 14px;
    font-family: cursive;
}

.aboutwrapper p {
    text-align: justify;
    padding: 0px;
    font-size: 17px;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 23px;
    color: #676666;
}


button#readmore {
    padding: 0px;
    margin-top: 32px;
    border-radius: 30px;
    background: #000;
    width: 30%;
    border: none;
    transition: 0.3s;
}

button#readmore a {
    font-size: 16px;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #fff;
}


button#readmore:hover {
    background: #0ed1f0;
    cursor: pointer;
    transition: 0.3s;
}


/*----------------------------------------Upcoming Area----------------------------*/


section#upcomingber {
    overflow: hidden;
    background: #fff;
    padding-bottom: 0px;
}


.container2 {
    width: 1263px;
    margin: auto;
    padding-left: 86px;
}


.upcomingwrapper {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
}

.comingwrapper {
    width: 380px;
    float: left;
    overflow: hidden;
    display: block;
    text-align: left;
    padding: 41px;
}

.comimagewrapper:hover img {
    transform: scale(0.98);
}

.comimagewrapper img {
    transition: 0.3s;
}



.comingwrapper h1 {
    width: 280px;
    font-size: 52px;
    font-weight: 300;
    font-family: cursive;
    letter-spacing: 6px;
    line-height: 60px;
    margin-bottom: 25px;
}

.comingwrapper p {
    font-size: 20px;
    font-weight: 400;
    line-height: 37px;
    text-align: justify;
}



button#readmore1 {
    padding: 0px;
    margin-top: 32px;
    border-radius: 30px;
    background: #000;
    width: 42%;
    border: none;
    transition: 0.3s;
}

button#readmore1 a {
    font-size: 16px;
    padding: 15px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #fff;
}


button#readmore1:hover {
    background: #0ed1f0;
    cursor: pointer;
    transition: 0.3s;
}


.imagecomingwrapper {
    overflow: hidden;
}

.comimagewrapper figure img {
    display: block;
    width: 98%;
    height: 870px;
    padding-left: 26px;
}


/*----------------------------------------------Gallery Area----------------------------------*/

section#gallary {
    background: #00000014;
    position: relative;
    margin-top: 90px;
}

.gallerywrapper {
    overflow: hidden;
    column-count: 2;
    margin-right: 370px;
    position: relative;
    display: block;
}

.singleimage {
    width: 345px;
    height: 240px;
    float: left;
    column-count: 2;
    overflow: hidden;
    position: relative;
    margin-right: 0px;
    display: flex;
    margin-top: 24px;
}

.singleimage:hover img {
    transform: scale(1.1);
}

.singleimage img {
    transition: 0.3s;
}


.image_musicnight {
    bottom: 0px;
    overflow: hidden;
    left: 0px;
    padding: 90px 36px;
    width: 100%;
    margin-left: -35px;
    padding-right: 40px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: #0ed1f0bf;
    opacity: 0;
    transition: cubic-bezier(0.61, 0.02, 0.51, 1.02) all 0.3s;
    cursor: pointer;
}

.image_musicnight:hover {
    opacity: 1;
    transition: ease-in all 0.6s;
}


.music_night h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    font-family: inherit;
    padding: 0px;
    text-align: center;
    margin-left: 11px;
}

ul.link_btn li {
    display: inline-block;
    padding: 5px;
    overflow: hidden;
    place-items: center;
}



ul.link_btn {
    text-align: center;
    margin-top: 9px;
    margin-bottom: -10px;
}

.galleryinfo {
    width: 349px;
    text-align: right;
    float: right;
    margin-top: -436px;
}


.gallery_text h1 {
    font-size: 66px;
    letter-spacing: 3px;
    font-weight: 400;
    font-family: cursive;
    padding: 0px;
    line-height: 95px;
    color: #fff;
}

.gallery_text {
    padding-bottom: 25px;
    text-align: right;
}


.galleryinfo p {
    font-size: 17px;
    line-height: 32px;
    word-spacing: 0px;
    padding-bottom: 21px;
    color: #fff;
}



/*----------------------------------------fotter iteams---------------------------------*/


footer#footer {
    background: #000000;
    margin-top: 80px;
}


.text {
    text-align: center;
    overflow: hidden;
    display: block;
}

.text h1 {
    font-size: 65px;
    color: white;
    font-weight: 400;
    font-family: 'Work Sans';
    padding-top: 55px;
}

.contact_box {
    width: 711px;
    margin-left: 202px;
    margin-top: 15px;
    display: block;
    position: relative;
    overflow: hidden;
}


.contact_us {
    text-align: center;
    display: block;
    place-items: center;
    position: initial;
}


input.contactbox {
    width: 685px;
    padding: 13px;
    border: none;
    margin-top: 14px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Work Sans';
}

textarea.textbox {
    width: 95%;
    padding: 21px 19px;
    border: none;
    outline: none;
    margin-top: 17px;
    border-radius: inherit;
    position: relative;
    font-size: 17px;
    font-family: 'Work Sans';
    font-weight: 400;
}


button#sendbtn {
    padding: 0px;
    margin-top: 30px;
    border-radius: 30px;
    background: #fff;
    position: relative;
    display: inline-block;
    width: 16%;
    border: none;
    transition: 0.3s;
    /* margin-left: 464px; */
}

button#sendbtn a {
    font-size: 19px;
    padding: 17px 66px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #000;
}


button#sendbtn:hover {
    background: #0ed1f0;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}


button#sendbtn a:hover {
    color: white;

}


.copyrightcontainer {
    overflow: hidden;
    color: #fff;
    border-top: 1px solid #fff;
    margin-top: 50px;
}



.container .text {
    font-size: 20px;
    text-align: center;
    line-height: 71px;
}


.borderwrapper {
    border-top: #fff solid 1px;
    overflow: hidden;
    margin-top: 50px;
}

.text {
    margin: auto;
    padding: 3px;
}

.text h2 {
    color: #fff;
    margin-right: 562px;
    font-size: 26px;
}

input.newsletter {
    padding: 16px;
    width: 519px;
    border: none;
    outline: none;
    margin-left: 62px;
    font-size: 17px;
    font-family: monospace;
    /* text-transform: uppercase; */
}

.inputtab {
    margin-top: -15px;
}



button#submit {
    padding: 16px 0px;
    background: #0ed1f0;
    border: none;
    outline: none;
    padding-top: 16px;
    margin-left: -26px;
    padding-bottom: 16px;
    transition: 0.3s;
    border-radius: 0px;
    position: relative;
}


button#submit a {
    font-size: 17px;
    padding: 15px 49px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-family: 'Work Sans';
}

button#submit:hover {
    background: #f1eded;
    transition: 0.3s;
    cursor: pointer;
}


button#submit a:hover {
    color: #0ed1f0;
}



.location_contactwrapper {
    display: block;
    /* width: 100%; */
    text-align: center;
    float: left;
    margin-left: 203px;
    margin-top: -35px;
}

.contact_link {
    /* width: 100%; */
    margin-top: 89px;
    text-align: center;
    display: flex;
    margin-left: 460px;
}

ul.contactwrapper li {
    float: left;
    padding: 0px 36px;
    color: white;
    list-style: none;
    margin-right: 10px;
    font-size: 19px;
    font-weight: 500;
}

ul.contactwrapper li a {
    padding-right: 18px;
}




ul.contactwrapper li  img {
    display: block;
    margin: -26px;
    color: #fff;

}


.contact_link a {
    padding: 7px 7px;
    background: #0fb0d3;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    margin-right: 11px;
}


.contact_link a i {
    /* color: #fff; */
    font-size: 24px;
    color: #161616;
    transition: 0.3s;
}

.contact_link a i:hover {
    color: #fff;
    transition: 0.3s;
}




/*-------------------------------------------About--------------------------------*/



.container {
    width: 1098px;
    margin-right: 20px;
    margin-left: 20px;
    margin: auto;
}


header#topber2 {
    background: #656565;
    padding-bottom: 130px;
    position: inherit;
}



.logo2 {
    width: 83px;
    height: 83px;
    float: left;
}

.menu2 {
    float: left;
    width: 1006px;
}

ul.menuwraper2 {
    float: right;
    list-style: none;
    padding: 37px;
}


ul.menuwraper2 li {
    position: inherit;
    /* float: left; */
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 0px 2px;
}

li#active2 a {
    color: #ffffff;
    background: #0ed1f0;
    border-radius: 18px;
}

ul.menuwraper2 li a:hover {
    color: #ffffff;
    background: #0ed1f0;
    border-radius: 18px;
    transition: all 0.3s ease-in;
}



ul.menuwraper2 li a {
    display: block;
    padding: 11px 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    font-family: 'Work Sans';
    transition: all 0.3s ease-in;

}


ul.menuwraper2 li:first-child {
    margin-left: 0px;
}

ul.menuwraper2 li:last-child a {
    padding-right: 0px;
    background: transparent;
}



.logo2 img {
    padding: 33px 0px;
    max-width: 199%;
    height: auto;
}

li.searchbtn2 i {
    font-size: 26px;
    transition: 0,3s;
}


ul.menuwraper2 li:last-child a:hover {
    color: #0ed1f0;
}




.about_box {
    background: #0ed1f0;
}

.about_text h1 {
    font-size: 62px;
    font-weight: 400;
    font-family: 'Work Sans';
    text-align: center;
    color: #fff;
    letter-spacing: 3px;
    padding: 45px 0px;
}




/*-----------------------------------------------login page-------------------------------*/



body{
    background: linear-gradient(#0658ff,#BF44A9,#a9ab45);
    background-repeat: no-repeat;
    height: 100%;
}


.loginbox{
    background: white;
    width: 320px;
    padding: 40px;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
    margin-top: 90px;
    box-shadow: 0px 0px 50px -7px black;
}


.login{
    font-size: 17px;
    font-family: 'Squada One', cursive;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 35px;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px red;
}


.text h5{
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 10px;
    margin-right: 300px;
}


.itext{
    border-bottom: 2px solid #6b52da;
    margin-top: 10px;
    padding: 3px;
}

.i{
    color: #d4c8c8;
    font-size: 14px;
}


.text2{
    font-size: 13px;
    color: #333;
    background: #f2f2f2;
    width: 92%;
    padding: 0px 3px;
    border: none;
    margin-left: 20px;
    outline: none;
    background: none;
}



.pass h5{
    font-size: 15px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 22px;
}


.itext2{
    border-bottom: 2px solid #6b52da;
    margin-top: 10px;
    padding: 3px;
}


.i2{
    color: #d4c8c8;
    font-size: 14px;
}

.text3{
    font-size: 13px;
    color: #333;
    width: 92%;
    padding: 0 3px;
    border: none;
    margin-left: 20px;
    outline: none;
    background: none;
}


.forget a{
    font-size: 13px;
    color: red;
    /* margin-top: 13px; */
    text-decoration: none;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}


.forget {
    display: block;
    position: absolute;
    padding: 20px 0px;
}




.loginbtn{
    background: radial-gradient(#D85FA7,#535192,#FFD299);
    color: whitesmoke;
    font-size: 19px;
    font-family: 'Limelight', cursive;
    width: 100%;
    height: 50px;
    margin-top: 85px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}

.loginbtn:hover{
    background: radial-gradient(#FFD299,#D85FA7,#535192) ;
}


.icon{
    margin: auto;
    margin-top: 60px;
    text-align: center;
}


.registerlink{
    margin-top: 60px;
    text-align: center;
}

.registerlink span{
    color: #d0c4c4;
    font-size: 16px;
}


.registerlink a{
    color: red;
    text-decoration: none;
    font-size: 15px;
}


i.fas.fa-user-alt {
    display: block;
    position: absolute;
}

i.fas.fa-key {
    display: block;
    position: absolute;
}



.loginbox {
    overflow: hidden;
    display: block;
    position: relative;
    place-items: center;
    text-align: center;
    margin-right: 420px;
    margin-bottom: 80px;
}